.alert-banner{
  background:#c00;
  color:#fff;
  padding:4px 0;
  text-align:center;
  position:sticky;
.alert-banner.violet{background:purple;}
  top:75px;
  z-index:1999;
}
.alert-banner a{color:#fff;text-decoration:none;}
